{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">

                <article class="card mb-5">
                    <header class="card-header text-center">
                        <h1 class="card-title">Editeur Admin</h1>
                    </header>

                    <div class="card-body">

                        <div class="col-12 d-flex flex-column mb-4 mt-3">
                            <p class="text-justify text-center pb-5 border-bottom border-muted">
                                Contenu temporaire.<br>
                                Contenu temporaire.<br>
                                Contenu temporaire.<br>
                                Contenu temporaire.<br>
                                Contenu temporaire.<br>
                                Contenu temporaire.<br>
                                Contenu temporaire.<br>
                                Contenu temporaire.<br>
                                Contenu temporaire.<br>
                                <br>
                                <br>
                                :)
                            </p>
                        </div>

                    </div>
                </article><!-- /.card -->

            </div>
        </div>
    </div>
{% endblock %}
