{% extends 'base.html.twig' %}

{% block body %}

    <main class="main pt-4" role="main">

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-group list-group-flush">
                        {% for post in postList %}
                            <li class="list-group-item">
                                <article class="d-flex justify-content-between align-content-center">

                                    <h3 class="card-title">{{ post.postTitle }}</h3>

                                    <div class="d-flex justify-content-between">

                                            <a class="nav-link text-uppercase text-white font-weight-bold m-auto bg-warning shadow" href="/admin/postEdit/{{ post.id }}">Modifier</a>
                                            <a class="nav-link text-uppercase text-white font-weight-bold m-auto bg-warning shadow border-left border-light" href="/admin/postRemoved">Effacer</a>

                                    </div>

                                </article><!-- /.card -->
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>


        </div>
    </main>


{% endblock %}