<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% block meta_description %} Ce blog est un projet étudiant dans le cadre de mon parcours PHP/Symfony à OpenClassrooms.{% endblock %}">
    <meta name="author" content="Hervé Boulangué">

    <title>{% block title %}Accueil{% endblock %}</title>

    <link href="/public/css/app.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

{{ include('header.html.twig') }}

{% block body %} {% endblock %}

{{ include('footer.html.twig') }}

<script src="/public/js/app.js"></script>

</body>
</html>
