<footer class="site-footer bg-darkest" role="contentinfo">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="/"><i class="fas fa-home"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/BreakFork"><i class="fab fa-github"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.linkedin.com/in/hervé-boulangué-392915b1/"><i class="fab fa-linkedin"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Déconnexion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://admin/logout"><i class="fas fa-gavel"></i>&nbsp;&nbsp;Mentions légales</a>
            </li>
        </ul>
        <div class="copy">
            &copy; Hervé Boulangué 2019<br />
            Tous droits réservés
        </div>
    </div>
</footer>
