<footer class="site-footer bg-darkest" role="contentinfo">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="/"><i class="fas fa-home"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/BreakFork"><i class="fab fa-github"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.linkedin.com/in/hervé-boulangué-392915b1/"><i class="fab fa-linkedin"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-gavel"></i>&nbsp;&nbsp;Mentions légales</a>
            </li>
        </ul>
        <div class="copy">
            &copy; Hervé Boulangué 2019<br />
            Tous droits réservés
        </div>
    </div>
        {% if user %}
            <div class="container-fluid d-flex flex-column flex-md-row justify-content-between bg-warning">
                <div class="w-auto d-flex  justify-content-center">
                    <span class="nav-link text-white border border-white rounded-pill">{{ user }} est connecté</span>
                </div>
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/postList">Liste</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/postEdit">Ajouter un article</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/logout">Déconnexion</a>
                    </li>
                </ul>
            </div>
        {% endif %}
</footer>
