<header role="banner">
    <nav class="navbar navbar-expand-md navbar-light bg-white absolute-top">
        <div class="container">

            <button class="navbar-toggler order-2 order-md-1" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" style="border: none;">
                <span><i class="fas fa-bars text-dark fa-lg"></i></span>
            </button>

            <a class="navbar-brand text-uppercase  order-0 order-md-0" href="index.html">BLOG</a>

            <div class="collapse navbar-collapse order-4 order-md-0" id="navbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/userPostList">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="public/pdf/CV_OCR.pdf" target="_blank">Curriculum Vitae</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/BreakFork"><i class="fab fa-github"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.linkedin.com/in/hervé-boulangué-392915b1/"><i class="fab fa-linkedin"></i></a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</header>
