<header role="banner">
    <nav class="navbar navbar-expand-md navbar-light bg-white absolute-top">
        <div class="container">

            <button class="navbar-toggler order-2 order-md-1" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" style="border: none;">
                <span><i class="fas fa-bars text-dark fa-lg"></i></span>
            </button>

            <a class="navbar-brand text-uppercase  order-0 order-md-0" href="/">OCR-BLOG</a>

            <div class="collapse navbar-collapse order-4 order-md-0" id="navbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/postList">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Public/pdf/CV_OCR.pdf" target="_blank">Parcours</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/BreakFork"><i class="fab fa-github"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.linkedin.com/in/hervé-boulangué-392915b1/"><i class="fab fa-linkedin"></i></a>
                    </li>
                    {% if visitor %}
                        <li class="nav-item">
                            <span class="nav-link text-primary ml-md-2"><i class="fas fa-user fa-lg mr-2" style="margin-bottom: .03em;"></i><span class="text-dark"> {{ visitor }} </span></span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-primary border-lg-dark border-lg-left" href="/logout"><i class="fas fa-sign-out-alt fa-lg mr-2"></i><span class="text-dark">Logout</span></a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/login"><i class="fas fa-sign-in-alt fa-lg mr-2" style="margin-bottom: .03em;"></i>LOGIN</a>
                        </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </nav>
</header>
