{% extends 'base.html.twig' %}

{% block meta_description %}
    <meta name="description" content="Ce blog est un projet étudiant dans le cadre de mon parcours PHP/Symfony à OpenClassrooms.">
{% endblock %}

{% block title %}
    <title>Accueil</title>
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12 ">

                <article class="card mb-4 border-0">
                    <header class="card-header text-center">
                        <h1 class="card-title">Hervé Boulangué</h1>
                    </header>
                    <div class="card-body">

                        <div class="text-center">
                            <img class="mb-5 rounded-circle shadow" src="Public/img/avatars/moi.jpg" alt="Photo de Hervé Boulangué" width="200" height="200" style="object-fit: cover; filter: brightness(160%);">
                        </div>

                        <h3 class="text-center mb-4"><strong>Développeur PHP/Symfony junior <br> Étudiant OpenClassrooms</strong></h3>

                        <div class="col-12 d-flex flex-column mb-4 mt-5">
                            <p class="text-justify pb-5 border-bottom border-muted">
                                <i class="fas fa-quote-left fa-2x fa-pull-left mt-1"></i>
                                Bienvenue sur OCR-BLOG. Ce blog étudiant à été réalisé lors de mon parcours PHP / Symfony à Openclassrooms. S'il ne possède pas toute les fonctionnalités d'un WP, il articule déjà les bases de la MVC et de la POO en PHP. N'hésitez pas à commenter un article ou me contacter via le formulaire de contact. <br><br>Bonne lecture.

                            </p>
                        </div>

                        <h4 class="mb-5 text-center">Contact</h4>

                        <form class="d-flex flex-column" action="" method="post" id="contactForm">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="name">Nom</label>
                                    <input type="text" class="form-control font-italic" id="name" placeholder="Nom" required>
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="name">Prénom</label>
                                    <input type="text" class="form-control font-italic" id="name" placeholder="Prénom" required>
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="email">Adresse Email</label>
                                    <input type="email" class="form-control font-italic" id="email" placeholder="Adresse Email" required>
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="text">Société</label>
                                    <input type="text" class="form-control font-italic" id="societe" placeholder="Nom de votre entreprise&nbsp;( facultatif )">
                                </div>
                                <div class="form-group col-12">
                                    <label for="question">Message</label>
                                    <textarea class="form-control font-italic" id="message" rows="4" placeholder="Message" required></textarea>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary rounded-pill shadow mw-25 align-self-end">Envoyer</button>
                        </form>

                    </div>
                </article><!-- /.card -->

            </div>
        </div>
    </div>

{% endblock %}
