<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Page 503 du site OCR_BLOG">
    <meta name="author" content="Hervé Boulangué">
    <title>Page 503</title>

    <link href="/Public/css/app.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body class="d-flex flex-column justify-content-between min-vh-100">

<header role="banner">
    <nav class="navbar navbar-expand-md navbar-light bg-white absolute-top">
        <div class="container">

            <button class="navbar-toggler order-2 order-md-1" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" style="border: none;">
                <span><i class="fas fa-bars text-dark fa-lg"></i></span>
            </button>

            <a class="navbar-brand text-uppercase  order-0 order-md-0" href="/">OCR-BLOG</a>

            <div class="collapse navbar-collapse order-4 order-md-0" id="navbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/postList">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="public/pdf/CV_OCR.pdf" target="_blank">Curriculum Vitae</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/BreakFork"><i class="fab fa-github"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.linkedin.com/in/hervé-boulangué-392915b1/"><i class="fab fa-linkedin"></i></a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</header>


<div class="d-flex flex-column justify-content-start">


    <div class="container">
        <div class="row">
            <div class="mx-auto text-center d-flex flex-column align-items-center">
                <span><i class="fas fa-cogs fa-8x mb-5" data-fa-transform="grow-8"></i></span>

                <h1 class="mb-5">Outch!</h1>

                <div class="font-weight-bold display-1">503</div>

                <div class="mb-5 mt-4 font-weight-bold" style="font-size: 2em;">
                    Désolé, une erreur est survenue.<br>Veuillez réessayer ultérieurement.
                </div>

                <a href="mailto:" class="btn btn-default btn-lg"><i class="fa fa-paper-plane mr-2" style="margin-bottom: 1px;"></i>Contacter le support ?</a>

                <a class="nav-link mt-5 text-uppercase text-center font-weight-bolder text-white rounded-pill bg-primary shadow" href="/" style="max-width: 250px;"><i class="fa fa-home mr-2" style="margin-bottom: 1px;"></i>retour vers l' accueil</a>
            </div>
        </div>
    </div>


</div>

<footer class="site-footer  bg-darkest" role="contentinfo">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="/"><i class="fas fa-home"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/BreakFork"><i class="fab fa-github"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.linkedin.com/in/hervé-boulangué-392915b1/"><i class="fab fa-linkedin"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-gavel"></i>&nbsp;&nbsp;Mentions légales</a>
            </li>
        </ul>
        <div class="copy">
            &copy; Hervé Boulangué 2019 <br />
            Tous droits réservés
        </div>
    </div>
</footer>

<script src="/Public/js/app.js"></script>

</body>
</html>

