{% extends 'base.html.twig' %}

{% block body %}

    <main class="main pt-4" role="main">

        <div class="container">
            {#<ul>#}
            {#{% for post in Post %}#}

{#<li>#}
            <div class="row">
                <div class="d-flex mx-auto col-lg-8">

                    <article class="card mb-4">

                        <header class="card-header">
                            <div class="card-meta">
                                <a href="#"><time class="timeago" datetime="2017-10-26 20:00">26 october 2017</time></a> in <a href="page-category.html">Journey</a>
                            </div>
                            <div class="d-flex justify-content-between align-content-center">

                                <a href="post-image.html">
                                    <h4 class="card-title">Titre de l'article : {{ post.postTitle }}</h4>
                                </a>
                                {% if user %}
                                    <a class="card-title" href="/admin/postModify">Modifier</a>
                                {%  endif %}

                            </div>
                        </header>

                        <a href="post-image.html">
                            <img class="card-img" src="Public/img/articles/19.jpg" alt="" />
                        </a>
                        <div class="card-body">
                            <p class="card-text">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. </p>
                        </div>

                    </article><!-- /.card -->

                </div>
            </div>
{#</li>#}

            {#{% endfor %}#}
            {#</ul>#}
        </div>
    </main>

{% endblock %}
