{% extends 'base.html.twig' %}

{% block body %}
    <main class="main container-fluid" role="main">

        <div class="container-fluid">

            <div class="row">

                <article class="card border-0">

                    <header class="card-header text-center">

                        <div class="card-meta">

                            <div class="d-flex justify-content-between">
                                <div>
                                    <span class="text-dark font-weight-bold">Auteur :</span><a href="/">&nbsp;{{ postAuthor }}</a>
                                </div>
                                <div class="card-meta">
                                    <span class="font-italic font-weight-bold">Publié le :&nbsp;</span>{{ lastUpdateTimestamp|date("d/m/Y") }}
                                </div>
                            </div><br>

                        </div>

                        <h1 class="card-title mb-4">{{ postTitle }}</h1>

                    </header>

                    <div class="card-body">

                        {{ postContent|raw }}

                        <br>
                        <hr />
                        <br>

                        <h3>Commentaires : </h3><br>

                        <div class="media mb-3">
                            <div class="media-body">
                                <p class="mt-3 mb-2">Vestibulum volutpat pretium libero. Cras id dui. Aenean ut eros et nisl sagittis vestibulum. Nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede. Sed lectus. Donec mollis hendrerit risus. Phasellus nec sem in justo pellentesque facilisis.</p>
                                <time class="timeago text-muted" datetime="2017-11-20 20:00">20 november 2017</time>
                            </div>
                        </div>

                        <div class="mt-5 d-flex flex-column">
                            <h5>Écrire un commentaire</h5>
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Votre nom">
                                </div><br><br>
                                <div class="col-md-6">
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Votre email">
                                </div>
                            </div>
                            <textarea class="form-control mt-3" rows="3" placeholder="Votre commentaire..."></textarea>
                            <button type="button" class="mt-3 btn btn-primary rounded-pill shadow align-self-end">Publier</button>
                        </div>

                    </div>
                </article><!-- /.card -->

            </div>
        </div>
    </main>

{% endblock %}